<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <context:component-scan base-package="ru.halitov.Music"/>
    <!--
    <bean id="testBeanId"
          class="ru.halitov.Test.TestBean"
          init-method="initBean"
          destroy-method="destroyBean"
          factory-method="getBean">
    </bean>
    -->
    <!-- <bean id="testBeanId"
          class="ru.halitov.Test.TestBean"
          init-method="initBean"
          destroy-method="destroyBean"
          factory-method="getBean">
          <constructor-arg value="Ruslan"/>
    </bean>-->
   <!-- <bean id = "musicBeanId" class = "ru.halitov.Music.RockMusic" />-->
     <!--   <bean id = "musicBeanId" class = "ru.halitov.Music.ClassicalMusic" />-->
       <!-- <bean id = "musicPlayerBeanId" class=" ru.halitov.Music.MusicPlayer">
                <property name="music" ref = "musicBeanId"/>
            <property name="name" value="Some name"/>
            <property name="volume" value="50"/>
        </bean>-->
    <!--
    <bean id = "musicPlayerBeanId" class=" ru.halitov.Music.MusicPlayer">
        <property name="music" ref = "musicBeanId"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
    -->
    <!--
    <bean id = "musicPlayerBeanId" class=" ru.halitov.Music.MusicPlayer" scope="prototype">

        <property name="music" ref = "musicBeanId"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
    -->

    <bean id ="musicPlayerId" class="ru.halitov.Music.MusicPlayer" />
</beans>